<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur aliquid animi a impedit sed debitis quos velit ratione, quis neque laudantium nemo, ducimus corrupti error rem adipisci voluptatibus praesentium accusantium. Lorem ipsum dolor sit amet,
    consectetur adipisicing elit. Eligendi veritatis et aut dolore quidem iure alias praesentium nisi blanditiis? Velit debitis vero ratione et laboriosam suscipit saepe nobis doloribus praesentium. Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Alias ipsam quos eius itaque quis ipsa, optio blanditiis mollitia pariatur aspernatur rem debitis molestiae magni fugit hic. Numquam voluptas id harum.
</p>